body.light {
  background-color: $light-background-color;
  text-shadow: $light-text-shadow;

  // home
  .home-header {
    color: $dark-gray;
  }

  .bio {
    .author-name-content {
      background-color: $light-category-border-color;
    }
    .author-introduction {
      color: $middle-gray;
    }
    a {
      color: $light-link-color;
    }
  }
  thead {
    background: #9f9f9f;
  }

  .category-container {
    border-top: 1px solid $light-category-border-color;
    border-bottom: 1px solid $light-category-border-color;
    border-right: 6px solid $light-category-border-color;
    border-left: 6px solid $light-category-border-color;
    background-color: $light-category-background-color;
    .item {
      border: 1px solid $light-category-border-color;
      background-color: $light-category-item-color;
      -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
      box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
      a {
        color: $light-category-text-color;
      }
      &[aria-selected='true'] {
        border: 2px solid $light-category-highlight-border-color;
        font-weight: bolder;
      }
      &[aria-selected='true'] a {
        color: $light-category-highlight-text-color;
      }
    }
  }

  .thumbnail {
    h3 {
      color: $dark-gray;
    }
    p {
      color: $middle-gray;
    }
    &:hover{
      background: $white-smoke;
    }
    box-shadow: 0 0 4px $light-gray;
  }

  .footer {
    color: $light-gray;
    a {
      color: $dark-gray;
    }
  }

  // post
  .navigator {
    a {
      background-color: $navigator-background-color;
      color: $navigator-text-color;
    }
  }
  //code
  pre {
    border: 1px solid $code-border-light-color;
  }
  code[class*='language-'],
  pre[class*='language-'] {
    color: #4d4d4c;
  }

  :not(pre) > code[class*='language-'],
  pre[class*='language-'] {
    background: $code-background-light-color;
  }
  :not(pre) > code[class*='language-'] {
    background: $inline-dimmed-color;
    color: $inline-text-color;
  }

  .token.punctuation {
    color: #8e908c;
  }

  .token.comment,
  .token.block-comment,
  .token.prolog,
  .token.doctype,
  .token.cdata {
    color: #8e908c;
  }
  .token.tag,
  .token.attr-name,
  .token.namespace,
  .token.deleted {
    color: #f5871f;
  }
  .token.boolean,
  .token.number,
  .token.function {
    color: #f5871f;
  }

  .token.property,
  .token.class-name,
  .token.constant,
  .token.symbol {
    color: #eab700;
  }
  .token.selector,
  .token.important,
  .token.atrule,
  .token.keyword,
  .token.builtin {
    color: #8959a8;
  }
  .token.string,
  .token.char,
  .token.attr-value,
  .token.regex,
  .token.variable {
    color: #00e676;
  }
  .token.inserted {
    color: #00e676;
  }
  .token.operator,
  .token.entity,
  .token.url {
    color: #8abeb7;
  }
  .token.function-name {
    color: #4271ae;
  }


}
